.Login{
    background: white;
    border-radius: 15px;
    height: 60%;
    width: 50%;
    display: flex;
    /* justify-content: center; */
    overflow: hidden;
}
.parent__container__login{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left__login{
    width: 50%;
    background-color: cornflowerblue;
}

.login__title{
    font-family: "Poppins";
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 55px;
    color: #321E59;
    gap : 10px;

}
.login__container {
    display : flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom : 20px;
    padding-top: 15%;
    gap:10px;
}

.login__container h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #321E59;
    
}

.validation-error {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #cf1919;
}

@media only screen and (max-width: 500px) {
    .Login{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        width: 100vw;
    }   
    .parent__container__login{
        width: calc(100% - 40px);
        padding: 20px;
        display: block;
    }
    .left__login{
        height: 40vh;
        width: 100%;
    }
}