.BlogDashboard{
    display: flex;
    /* margin-top: 50px; */
}

.Blog_info{
    /* padding: 5%; */
    width: 100%;
    /* background: yellow; */
}
.App-header{
    margin-bottom: 10px;
}
.editor-class{
    border-top: none;
    max-height: 40vh;
    padding: 0 10px;
    min-height: 30vh;
}
.wrapper-class{
    margin-bottom: 20px;
    border: 1px solid #2F80ED;
}

.PreBlog{
    display:flex;
    justify-content: space-between;
    margin-top:50px;
    margin-bottom:25px;
}
.AddBlog{
    display: flex;
}

.AddDetails{
    display: block;
    font-family:Poppins;
    padding-top: 50px;
}

.AddDetails > input[type=text] {
    border: 1px solid #2F80ED;
  }

 #delete_draft{
    font-family:'Poppins';
    font-size:16px;
    background-color: white;
    color:#321E59 ;
    border-radius:8px;
    border:1px solid black;
    display: flex;
    height: 30px;
 } 

#upload_btn{
    font-family:'Poppins';
    font-size:16px;
    color:white;
    background:#699DFF;
    width:20%;
    height:40px;
    border-radius:4px;
    border:none;
}  

.uploadbtn{
    /* padding-bottom: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}


