@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

.recipe__head {
  background: #9cbeff;
  padding: 15vh 50px;
  padding-bottom: 5vh;
  color: #321e59;
  font-weight: 600;
}
#search {
  padding: 10px 65px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.searchbox {
  border: 1px solid gray;
  display: flex;
  align-self: flex-start;
  padding: 5px;
  gap: 5px;
  border-radius: 20px;
  align-items: center;
}
#search > .searchbox > input {
  border: none;
  width: 40vw;
  font-size: medium;
  outline: none;
}

.Filterbox {
  margin: auto;
  background-color: azure;
  width: 85%;
  display: flex;
  padding: 3%;
  border-radius: 5px;
}

.Filterbox > h3 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
}

.filterInput {
  margin-top: 2%;
}

#input-min,
#input-min-protein {
  margin-right: 3%;
}

.recipes {
  padding: 30px 50px;
  margin: auto;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  width: calc(100vw - 110px);
}
#search > button {
  border: none;
}
#mobile {
  display: none;
}
#pc {
  display: flex;
}
#searchmob {
  display: none;
}

@media only screen and (max-width: 600px) {
  .recipes {
    display: grid;
    padding: 10px 30px;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  #pc {
    display: none;
  }
  #mobile {
    display: flex;
  }
  #search {
    display: none;
  }
  #searchmob {
    width: 84vw;
    display: flex;
    padding: 10px 40px 10px 5px;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
  }
  #searchmob > .searchbox > input {
    border: none;
    width: 50vw;
    font-size: medium;
    outline: none;
  }

  form.search {
    padding: 10px 30px;
  }
}
