.statvalue{
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: circle(18px);
    padding: 10px;
    font-size: small;
}
.statitem{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    gap:5px;
}
.stats{
    display: flex;
    gap: 5px;
}