.dash_items_drawer > .MuiListItem-root:hover{
    background: #171438;
}

.dash_items_drawer > .MuiListItem-root{
    border-radius: 10px;
}

.dash-item:hover{
    background: #171438;
}

@media only screen and (max-width: 500px) 
{
    .dash__mobile_dr{
        margin-top: 45px;
        height: 20vh;
        background: #1F1B48;
        display: flex;
        align-items: center;
        width: 100vw;
        justify-content: center;
    }
    .showmenu{
        display: flex;
        align-items: center;
        background: #1B3E81;
        border-radius: 10px;
        gap: 10px;
        padding-left: 25px;
    }
    .MuiMenu-list{
        background: #1F1B48;
    }

}
