.header{
    font-family: 'Poppins', sans-serif;
    background: transparent;
    padding: 10px 20px;
    display: flex;
    width: calc(100% - 20px);
    gap : 30px;
    height: 35px;
    font-weight: normal;
    align-items: center;
    position: fixed;
    z-index: 1400;
    top: 0;
}
.header__user{
    display: flex;
    gap:5px;
    border-radius: 10px;
    border : 1px solid #321E59;
    padding:5px;
    align-items: center;
}
.two{
    color: #321E59;
    width: auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.four{
    cursor: pointer;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    margin-left: auto;
}

@media only screen and (max-width: 500px) 
{
    .header__mobile{
        width: 96%;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        padding: 2%;
        gap: 0;
        background: black;
    }
    .links{
        display: none;
    }
    .two{
        display: none;
    }
    .four{
        display: none;
    }

}
