.header__page{
    font-family: 'Poppins', sans-serif;
    background: transparent;
    padding: 10px 20px;
    display: flex;
    width: calc(100vw - 20px);
    gap : 30px;
    height: 35px;
    font-weight: normal;
    align-items: center;
    position: fixed;
    z-index: 1400;
    top: 0;
}

.header__user__page{
    display: flex;
    gap:5px;
    border-radius: 10px;
    border : 1px solid #321E59;
    padding:5px;
    align-items: center;
}
.two__page{
    color: #321E59;
    width: auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.four__page{
    cursor: pointer;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    margin-left: auto;
}

#simple-menu .MuiMenu-paper{ 
    color: #1B3E81;
    background: aliceblue;
    margin-right: 50px;
    border-radius: 15px;
} 

@media only screen and (max-width: 500px) 
{
    .header__mobile__page{
        width: 96%;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        padding: 2%;
        gap: 0;
        background: black;
    }
    .links__page{
        display: none;
    }
    .two__page{
        display: none;
    }
    .four__page{
        display: none;
    }

}
