.footer{
    margin-top: 30vh;
    display: flex;
    background: #699DFF;
    height: 30vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.sections{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.pages{
    padding: 18px;
}