e.desc {
  padding: 10px;
}
.links__page{
  padding:0;
}

.links__page > .blogs__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: auto;
  min-height: 40vh;
  border: 1px solid rgb(255, 164, 186, 0.7);
  /* box-sizing: border-box; */
}

/* .blog__info > img {
  max-height: 100%;
} */
.avatar {
  box-shadow: 4px 4px 5px rgb(255, 164, 186, 0.7);
}

.blog__tags {
  width: 82px;
  height: 21px;
  text-align: center;
  background: #b3f4f9;
  border-radius: 10px;
  color: rgb(32, 107, 194);
  font-size: 14px;
  margin-top: 3%;
  margin-bottom: 2%;
}

.blog__info {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.content__blg {
  display: flex;
  flex-direction: column;
  width:100%;

  padding: 3%;

  /* margin-top: 5%; */
}

.content > h3 {
  font-size: 20px;
}

.content > p {
  margin-top: 2%;
  font-size: 14px;
  margin-bottom: 5%;
}

.date {
  font-size: 12px;
  color: grey;
  font-weight: 500;
  margin-top: 2%;
}

.blogs__author {
  display: flex;
  background-color: #f9ced8;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top:20px;
  padding: 2%;
}

.author_info {
  display: flex;
  flex: 1;
}

.avatar {
  flex: 1;
}

.avatar_name {
  flex: 2;
}

.save__icon {
  /* margin-left: 10%; */
  padding: 10px;
}

.author__name {
  flex: 1;
}

.blog__image {
  height: 25vh;
  width: 40%;
}

@media screen and (max-width: 600px) {
  .blogs__card {
    background-color: blueviolet;
    width: 100%;
    height: max-content;
  }

  .blog__image {
    padding-right: 20px;
  }
  .blog__info img {
    background-color: brown;
    width: 250px;
    height: 250px;
  }

  .content > h3 {
    font-size: 20px;
  }
  .content > p {
    font-size: 18px;
  }
}

@media screen and (min-width: 620px) {
  .blogs__card {
    width: 60vw;
  }

  /* .blog__image {
    padding-right: 2%;
    height: 100%;
  }
  .content > h3 {
    font-size: 20px;
  }
  .content > p {
    font-size: 18px;
  } */
}
