.signUp{
    background: white;
    border-radius: 15px;
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: center;
    overflow: auto;
}
.parent__container_signup{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left__signup{
    width: 50%;
    background: cornflowerblue;
    position: sticky;
    top: 0;
}

.signUp__title{
    font-family: "Poppins";
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 55px;
    color: #321E59;
}

.signUp__container {
    display : flex;
    flex-direction: column;
    padding-bottom : 20px;
    padding-top: 15%;
    gap:10px;
}

.signUp__container h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #321E59;
    
}

.validation-error {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #cf1919;
}

@media only screen and (max-width: 500px) {
    .left__signup{
        height: 40vh;
        width: 100%;
    }

    .parent__container_signup{
        width: calc(100vw - 40px);
    }

    .signUp{
        width: 100vw;
        border-radius: 0;
        flex-direction: column;
    }
}